.farming-list {
    --farming-list-grid-template: 24px 1fr 1fr 1fr 200px 85px 70px;

    display: flex;
    flex-direction: column;
    min-height: 400px;

    &__header,
    &__row {
        align-items: center;
        border-bottom: 1px solid rgb(255, 255, 255, 8%);
        column-gap: 10px;
        display: grid;
        grid-template-columns: var(--farming-list-grid-template);
        padding: 10px 0;
    }

    &__cell {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;

        &--center {
            text-align: center;
        }
        &--right {
            text-align: right;
        }
        &--expanded {
            align-items: center;
            background-color: #303552;
            display: flex;
            justify-content: center;
            margin: 0 0 -10px;
            min-height: calc(100% + 10px);
            padding: 0 0 10px;
        }
    }

    &__trigger-cell {
        cursor: pointer;
    }

    &__header {
        color: rgba(255, 255, 255, 48%);
        font-size: 14px;
        text-align: center;
    }

    &__token-name {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        margin: 0;
        white-space: nowrap;
    }

    &__token-status {
        &--expired {
            color: rgba(255, 255, 255, 0.35);
            font-size: 12px;
        }
        &--active {
            color: rgba(120, 255, 120, 0.35);
            font-size: 12px;
        }
        &--awaiting {
            color: rgba(170, 210, 255, 0.35);
            font-size: 12px;
        }
    }
}
