.farming-list {
    &.list {
        --list-grid-template: minmax(30%, 60%) minmax(120px, 160px) minmax(120px, 160px) minmax(120px, 160px) 85px 70px;

        .list__header,
        .list__row {
            display: block;

            @media only screen and (min-width: 960px) {
                display: grid;
            }
        }

        .list__header {
            @media only screen and (max-width: 959px) {
                display: none;
            }
        }
    }

    .list__cell-inner > * {
        overflow: hidden;
    }

    &__cell {
        &--expanded {
            align-items: center;
            background-color: #303552;
            display: flex;
            justify-content: center;
            margin: 0 0 -10px;
            min-height: calc(100% + 10px);
            padding: 0 0 10px;
        }

        &--pool {
            text-align: center;

            @media only screen and (max-width: 959px) {
                background: none;
                justify-content: flex-start;
                text-align: left;
            }
        }
    }

    &__trigger-cell {
        cursor: pointer;
    }

    &__token {
        &-icon-wrapper {
            min-width: 24px;
        }

        &-name {
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &-status {
            &--expired {
                color: rgba(255, 255, 255, 0.35);
                font-size: 12px;
            }
            &--active {
                color: rgba(120, 255, 120, 0.35);
                font-size: 12px;
            }
            &--awaiting {
                color: rgba(170, 210, 255, 0.35);
                font-size: 12px;
            }
        }
    }
}
