@import '~@/styles/_mix';

.farming-message {
    background: #c5e4f3;
    color: #000000;
    display: flex;
    font-size: 14px;
    gap: 24px;
    justify-content: space-between;
    line-height: 20px;
    margin: 24px 0 0;
    padding: 24px;
    position: relative;

    &_danger {
        background: #eb4361;
        color: #ffffff;
    }

    @media only screen and (max-width: 767px) {
        flex-direction: column;

    }

    h3 {
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        margin: 0 0 4px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    p {
        margin: 0 0 1em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__actions {
        align-items: center;
        column-gap: 12px;
        display: flex;

        @media only screen and (max-width: 767px) {
            justify-content: flex-end;
        }
    }

    &__close {
        @include btn-reset;

        align-items: center;
        color: #293166;
        cursor: pointer;
        display: flex;
        height: 40px;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
    }
}
