.farming-config {
    &.popup__wrap {
        box-shadow: 0 8px 16px rgba(43, 51, 56, 0.08);
        max-width: 360px;

        @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
            backdrop-filter: blur(120px);
            background: rgba(255, 255, 255, 0.08);
        }
    }

    &__title {
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0.15px;
        line-height: 24px;
        margin: 0 0 20px;
    }

    &__tabs {
        align-items: center;
        color: rgba(255, 255, 255, 0.56);
        display: flex;
        font-size: 14px;
        letter-spacing: 0.6px;
        line-height: 20px;

        li {
            border-bottom: 1px solid transparent;
            cursor: pointer;
            margin: 0 0 20px;
            padding: 8px 12px;

            &.active {
                border-bottom-color: #ffffff;
                color: #ffffff;
            }
        }
    }

    &__filed {
        margin: 0 0 16px;
    }

    &__label {
        font-size: 14px;
        letter-spacing: 0.6px;
        line-height: 20px;
        margin: 0 0 4px;
    }

    &__cols {
        display: flex;
        gap: 10px;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
    }

    &__action {
        align-items: center;
        display: flex;
        gap: 10px;
        justify-content: flex-end;
        margin: 40px 0 0;
    }

    &__warning {
        font-size: 14px;
        letter-spacing: 0.5px;
        line-height: 20px;
        margin: 0 0 20px;
    }
}
