.farming-config {
    &.popup__wrap {
        max-width: 360px;
        box-shadow: 0px 8px 16px rgba(43, 51, 56, 0.08);

        @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
            background: rgba(255, 255, 255, 0.08);
            backdrop-filter: blur(120px);
        }
    }

    &__title {
        margin: 0 0 20px;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.15px;
        font-weight: bold;
    }

    &__tabs {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.6px;
        color: rgba(255, 255, 255, 0.56);

        li {
            margin: 0 0 20px;
            padding: 8px 12px;
            border-bottom: 1px solid transparent;
            cursor: pointer;

            &.active {
                color: #fff;
                border-bottom-color: #fff;
            }
        }
    }

    &__filed {
        margin: 0 0 16px;
    }

    &__label {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.6px;
        margin: 0 0 4px;
    }

    &__cols {
        display: flex;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        gap: 10px;
    }

    &__action {
        margin: 40px 0 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
    }

    &__warning {
        margin: 0 0 20px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.5px;
    }
}
