.logo {
    display: block;
    margin-right: 40px;
    width: 135px;

    &__mob {
        display: none;
    }

    @media only screen and (max-width: 767px) {
        margin-right: 0;
        width: 28px;

        &__mob {
            display: block;
        }

        &__desktop {
            display: none;
        }
    }
}
