.currencies-list {
    &.list {
        --list-grid-template: 50px minmax(30%, 60%) minmax(100px, 120px) minmax(100px, 120px) minmax(100px, 120px) minmax(100px, 120px);

        @media only screen and (max-width: 824px) {
            --list-grid-template: 50px minmax(30%, 60%) minmax(100px, 120px) minmax(100px, 120px);
        }

        @media only screen and (max-width: 540px) {
            --list-grid-template: minmax(40%, 65%) minmax(120px, 140px);
        }
    }

    .list__cell-inner > * {
        overflow: hidden;
    }

    &__token {
        &-icon {
            height: 24px;
            width: 24px;
            &-wrapper {
                min-width: 24px;
            }
        }

        &-name {
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &-subname {
            font-size: 12px;
            letter-spacing: 0.4px;
            line-height: 16px;
            opacity: 0.5;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .content-loader {
        min-height: 570px;
    }

}
