.tokens-list {
    &.list {
        --list-grid-template: minmax(30%, 70%) minmax(200px, 250px) minmax(200px, 250px) minmax(200px, 250px);
    }
}

.message {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    width: 100%;

    &__text {
        margin-bottom: 20px;
    }
}
