.farming-charts {
    display: grid;
    grid-gap: 28px;
    grid-template-rows: max-content 1fr;

    .chart {
        min-height: 300px;
    }

    &__head {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    &__tabs {
        display: flex;

        li {
            border-bottom: 1px solid transparent;
            color: rgba(255, 255, 255, 0.56);
            cursor: pointer;
            font-size: 14px;
            letter-spacing: 0.6px;
            padding: 8px 12px;

            &.active {
                border-bottom-color: #ffffff;
                color: #ffffff;
            }
        }

        &_bordered {
            box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.16);

            li {
                border: none;

                &.active {
                    background: #ffffff;
                    border: none;
                    color: #000000;
                }
            }
        }
    }
}

.farming-chart {
    &__message {
        align-items: center;
        display: flex;
        font-size: 14px;
        justify-content: center;
        opacity: 0.48;
    }
}
