.transactions-list {
    &.list {
        --list-grid-template: minmax(20%, 40%) minmax(100px, 120px) minmax(200px, 250px) minmax(200px, 250px) minmax(100px, 120px) minmax(100px, 120px);

        @media only screen and (max-width: 824px) {
            --list-grid-template: minmax(30%, 50%) minmax(120px, 140px) minmax(120px, 140px);
        }

        @media only screen and (max-width: 540px) {
            --list-grid-template: minmax(40%, 65%) minmax(120px, 140px);
        }
    }
}
