.filter-field {
    input {
        border: 1px solid rgb(255 255 255 / 24%);
        font-size: 16px;
        height: 44px;
        padding: 8px 12px;
        width: 100%;
    }

    &_size_s {
        input {
            font-size: 14px;
            font-weight: 400;
            height: 36px;
        }
    }
}
