.token {
    align-items: center;
    display: flex;
    font-weight: normal;
    gap: 7px;

    &_size {
        &_xsmall {
            font-size: 14px;
            letter-spacing: 0.75px;
            line-height: 20px;
        }

        &_small {
            font-size: 16px;
            letter-spacing: 0.25px;
            line-height: 20px;
        }
    }
}
