.farming-action {
    &__ctrl {
        align-items: center;
        column-gap: 8px;
        display: grid;
        grid-template-columns: 1fr max-content;
    }

    &__hint {
        color: rgba(255, 255, 255, 0.48);
        font-size: 12px;
        line-height: 16px;
        margin-top: 4px;
    }
}
