.content-loader {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    min-height: 450px;
    width: 100%;

    svg {
        animation: rotate 1s linear infinite;
        fill: #ffffff;
    }
}
