.farming-filters {
    align-items: center;
    column-gap: 16px;
    display: grid;
    grid-template-columns: 1fr max-content;
    max-width: 420px;
    position: relative;
    width: 100%;

    > * {
        min-width: fit-content;
    }

    > .filter-field {
        width: 100%;
    }
}

.farming-filters-popup {
    background: #313551;
    box-shadow: 0 8px 16px rgb(43 51 56 / 8%);
    margin-top: 8px;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 100%;
    width: 320px;
    z-index: 4;

    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        -webkit-backdrop-filter: blur(80px);
        backdrop-filter: blur(80px);
        background: linear-gradient(0deg, rgb(5 11 46 / 12%), rgb(5 11 46 / 12%)), rgb(255 255 255 / 12%);
    }

    &__title {
        font-size: 16px;
        font-weight: bold;
        line-height: 20px;
        margin: 0 0 16px;
    }

    &__sub-title {
        font-size: 14px;
        font-weight: normal;
        line-height: 20px;
        margin: 16px 0 8px;
    }

    &__cols {
        column-gap: 10px;
        display: grid;
        grid-auto-columns: minmax(0, 1fr);
        grid-auto-flow: column;
    }

    &__rows {
        display: grid;
        grid-auto-flow: row;
        row-gap: 8px;
    }

    &__footer {
        align-items: center;
        border-top: 1px solid rgb(255 255 255 / 8%);
        column-gap: 10px;
        display: flex;
        justify-content: flex-end;
        margin: 24px 0 0;
        padding: 24px 0 0;
    }
}
