.token-icon {
    height: 32px;
    width: 32px;

    &_size {
        &_small {
            height: 24px;
            width: 24px;
        }

        &_xsmall {
            height: 20px;
            width: 20px;
        }
    }
}
