.icon {
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: inherit;
    display: inline-block;
    fill: currentColor;
    font: inherit;
    line-height: 0;
    margin: 0;
    overflow: visible;
    padding: 0;
    text-transform: none;
}
