.tools {
    position: absolute;
    top: 13px;
    right: 20px;

    &__bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @media only screen and (max-width: 767px) {
        position: static;
        padding: 12px 16px;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08));
    }
}

button.tools-btn {
    @media only screen and (max-width: 767px) {
        display: block;
        width: 100%;
        background-color: #C5E4F3;
        color: #293166;
    }
}

.tools-ton {
    padding: 10px 16px;
    font-size: 14px;
    line-height: 20px;
    flex-wrap: wrap;
    letter-spacing: .75px;
    color: #fff;

    @media only screen and (max-width: 767px) {
        padding-left: 0;
        display: none;
    }
}

.tools-wallet {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    background: rgba(197, 228, 243, 0.16);
    color: #C5E4F3;

    &:hover {
        background: rgba(197, 228, 243, 1);
        color: #293166;
    }

    &__ava {
        width: 24px;
        height: 24px;
        margin-right: 10px;

        img {
            width: 100%;
        }
    }

    &__id {
        white-space: nowrap;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: .75px;
    }
}

button.tools-context,
button.tools-exit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    margin-left: 10px;
    border-radius: 0;
    background: rgba(197, 228, 243, .16);

    svg {
        fill: #c5e4f3;
    }

    &:hover {
        background: rgba(197, 228, 243, 1);

        svg {
            fill: #293166;
        }
    }
}

button.tools-exit {
    @media only screen and (max-width: 767px) {
        display: none;
    }
}

button.tools-context {
    margin: 0;
    display: none;

    @media only screen and (max-width: 767px) {
        display: flex;
    }
}
