.farming-transactions {
    &__list {
        &.list {
            --list-grid-template: minmax(70px, 10%) minmax(120px, 28%) minmax(300px, 40%) minmax(120px, 12%) minmax(120px, 12%);
            min-height: auto;
        }
    }

    &__head {
        margin: 0 0 24px;
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: 767px) {
            flex-direction: column-reverse;
            align-items: flex-start;
            gap: 20px;
        }
    }

    &__message {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 57px;
        padding: 32px 0 0;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.5px;
        color: #FFF;
    }
}
