.remove-liquidity-process {
    text-align: center;

    &.popup__wrap {
        max-width: 360px;
        padding: 50px 20px 40px 20px;
    }

    &__title {
        font-size: 24px;
        font-weight: bold;
        line-height: 32px;
        margin: 37px 0 16px 0;
    }

    &__text {
        font-size: 14px;
        letter-spacing: 0.25px;
        line-height: 20px;
        margin: 0 0 4px;
    }

    &__hint {
        font-size: 12px;
        letter-spacing: 0.4px;
        line-height: 16px;
        opacity: 0.8;
    }
}
