@mixin btn-reset {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    display: block;
    outline: none !important;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: 0.25s ease;
    white-space: nowrap;

    &::-moz-focus-inner {
        border: 0;
    }

    &:disabled {
        cursor: default;
        opacity: 1;
        user-select: none;
    }
}

@mixin input-reset {
    -webkit-appearance: none;
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    display: block;
    outline: none;
    padding: 0;
    transition: 0.25s ease;
    width: 100%;
}

@mixin fieldset-reset {
    border: none;
    display: block;
    margin: 0;
    outline: none;
    padding: 0;
}

@mixin textarea-reset {
    -webkit-appearance: none;
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    display: block;
    outline: none;
    padding: 0;
    resize: none;
    transition: 0.25s ease;
    width: 100%;
}

@mixin form-reset {
    margin: 0;
}

@mixin svg-reset {
    display: block;
    font-size: 0;
    height: 100%;
    transition: stroke 0.25s, fill 0.25s;
    width: 100%;
}
