@keyframes checking {
    from {
        border: 1px solid rgba(255, 255, 255, 0.16);
    }
    to {
        border: 1px solid rgba(116, 166, 255, 0.76);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.alert {
    align-items: center;
    background: rgba(230, 172, 0, 0.48);
    border-left: 4px solid #e6ac00;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 12px;
}

.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 auto;
    padding: 0;
    width: 100%;

    &--small { max-width: 520px; }

    &--large { max-width: 1200px; }
}

.section {
    box-sizing: border-box;
    padding: 0;
    width: 100%;

    &__header {
        align-items: center;
        column-gap: 2em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 64px 0 32px;

        &:first-child {
            margin-top: 0;
        }

        &-link {
            color: #ffffff;
            display: flex;
            flex-direction: row;
            font-size: 16px;
            font-weight: 500;
            opacity: 0.48;
            outline: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            text-decoration: none;
            transition: 0.25s ease;

            &:hover {
                opacity: 1;
                text-decoration: none;
            }
        }

        &_wrap {
            flex-wrap: wrap;
            row-gap: 1em;
        }
    }

    &__header-actions {
        align-items: center;
        column-gap: 20px;
        display: flex;
        justify-content: space-between;
    }

    + .section {
        margin-top: 64px;
    }
}

.switcher {
    display: block;

    input { display: none; }

    &__handle {
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 8px;
        cursor: pointer;
        display: block;
        height: 16px;
        position: relative;
        transition: background-color 0.25s;
        width: 32px;

        &::after {
            background-color: #ffffff;
            border-radius: 50%;
            content: '';
            display: block;
            height: 18px;
            left: 0;
            position: absolute;
            top: -1px;
            transition: left 0.25s, width 0.15s;
            width: 18px;
        }

    }

    input:checked + .switcher__handle {
        background-color: #e6ac00;

        &::after { left: 14px; }
    }
}

.divider {
    background: none;
    border-top: 1px dashed rgba(255, 255, 255, 0.16);
    margin: 16px 0;
    opacity: 1;
}

.spin {
    animation: rotate 1s linear infinite;
}

.flex-wrap {
    flex-wrap: wrap;
}

.truncate {
    &-name {
        display: inline-block;
        max-width: 120px;
        overflow: hidden;
        padding: 0 5px;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.hidden {
    display: none;
}

.hide-824 {
    @media only screen and (max-width: 824px) {
        display: none;
    }
}

.hide-540 {
    @media only screen and (max-width: 540px) {
        display: none;
    }
}
