html {
    direction: ltr;
    font-size: 10px;
    -webkit-locale: 'en-150';
    min-height: 100%;
    unicode-bidi: isolate;
}

html,
body {
    min-height: 100%;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
}

body {
    background: radial-gradient(50% 100% at 0% 0%, rgb(247 97 42 / 16%) 0%, rgb(246 97 42 / 0%) 100%),
        radial-gradient(50% 100% at 100% 100%, rgb(197 228 243 / 16%) 0%, rgb(197 228 243 / 0%) 100%),
        #050b2e;
    color: #fff;
    font: 400 16px/1.2 'PT Root UI', sans-serif;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100%;
    min-width: 310px;
    opacity: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    -webkit-text-size-adjust: none;
}

ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
q,
figure,
figcaption,
blockquote,
cite,
fieldset,
hr {
    border: 0 none;
    margin: 0;
    padding: 0;
}

ul li,
ol li {
    list-style: none;
}

a {
    color: #fff;
    outline: none;
    -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
    text-decoration: none;
    transition: 0.25s ease;

    &:-moz-any-link:focus,
    &:-moz-focusring,
    &::-moz-focus-inner,
    &::-moz-focus-outer {
        outline: 0 !important;
        outline: none;
    }

    &:active {
        outline: none;
    }

    &:hover {
        color: #fff;
        text-decoration: underline;
    }

    &[href^='tel:'],
    &[href^='mailto:'] {
        white-space: nowrap;
    }
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    height: auto;
    margin: 0;
}

::selection {
    background-color: #c5e4f3;
    color: #293166;
}
