@import '_mix';

.btn {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    box-sizing: border-box;
    color: #212529;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    outline: 0 none !important;
    padding: 0.375rem 0.75rem;
    text-align: center;
    text-decoration: none;
    transition: color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: middle;

    &:hover {
        color: initial;
        text-decoration: none;
    }
}

@media (prefers-reduced-motion: reduce) {
    .btn {
        transition: none;
    }
}

.btn-dark {
    @include btn-reset;

    background-color: rgba(197, 228, 243, 0.16);
    color: #c5e4f3;
    font-size: 16px;;
    font-weight: bold;
    letter-spacing: 0.25px;
    line-height: 44px;
    padding: 0 16px;
    text-align: center;

    &:hover {
        background: rgba(197, 228, 243, 1);
        color: #293166;
    }

    &:disabled {
        background-color: rgba(197, 228, 243, 0.16);
        color: #c5e4f3;
        opacity: 0.5;
    }

    &.btn-lg {
        font-size: 20px;
        letter-spacing: 0.15px;
        line-height: 56px;
        padding: 16px 20px;
    }

    &.btn-block {
        display: block;
        width: 100%;
    }
}

.btn-light {
    @include btn-reset;

    background-color: #c5e4f3;
    color: #293166;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.25px;
    line-height: 44px;
    padding: 0 16px;
    text-align: center;

    &:hover {
        background-color: darken(#c5e4f3, 10%);
    }

    &:disabled {
        background-color: rgba(197, 228, 243, 0.16);
        color: #c5e4f3;
        opacity: 0.5;
    }

    &.btn-lg {
        font-size: 20px;
        letter-spacing: 0.15px;
        line-height: 56px;
        padding: 0 20px;
    }

    &.btn-s {
        font-size: 14px;
        letter-spacing: 0.75px;
        line-height: 20px;
        padding: 8px 16px;
    }

    &.btn-block {
        display: block;
        width: 100%;
    }
}

.btn-icon {
    align-items: center;
    border: none 0;
    color: #ffffff;
    display: inline-flex;
    height: auto;
    justify-content: center;
    margin-left: 7px;
    opacity: 0.5;
    padding: 0;
    transition: opacity 0.15s ease-in-out;
    vertical-align: middle;
    width: auto;

    &:hover {
        color: #ffffff;
        opacity: 1;
    }
}

.btn--grey {
    @include btn-reset;

    background-color: rgba(197, 228, 243, 0.16);
    color: #c5e4f3;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.75px;
    line-height: 40px;
    padding: 0 16px;
    text-align: center;

    &:hover {
        background-color: rgba(197, 228, 243, 1);
        color: #293166;
    }

    &:disabled {
        background-color: rgba(197, 228, 243, 0.16);
        color: #c5e4f3;
        opacity: 0.5;
    }

    &.btn-lg {
        font-size: 20px;
        letter-spacing: 0.15px;
        line-height: 56px;
        padding: 0 20px;
    }

    &.btn-block {
        display: block;
        width: 100%;
    }
}

.btn--empty {
    @include btn-reset;

    border: 1px solid rgba(197, 228, 243, 0.32);
    color: #c5e4f3;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.75px;
    line-height: 28px;
    padding: 0 15px;
    text-align: center;

    &:hover {
        background-color: rgba(197, 228, 243, 1);
        color: #293166;
    }

    &:disabled {
        background-color: rgba(197, 228, 243, 0.16);
        color: #c5e4f3;
        opacity: 0.5;
    }

    &.btn-lg {
        font-size: 20px;
        letter-spacing: 0.15px;
        line-height: 56px;
        padding: 0 20px;
    }

    &.btn-block {
        display: block;
        width: 100%;
    }
}

.hide-824 {
    @media only screen and (max-width: 824px) {
        display: none;
    }
}

.hide-540 {
    @media only screen and (max-width: 540px) {
        display: none;
    }
}

