@import '_mix';

.form-row {
    align-items: center;
    color: rgba(255, 255, 255, 0.64);
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    letter-spacing: 0.75px;
    line-height: 20px;
    margin: 16px 16px 16px 20px;

    & + .form-submit {
        margin-top: 16px;
    }

    &__btn {
        @include btn-reset;

        display: inline-block;
        height: 24px;
        margin-left: 8px;
        position: relative;
        top: -1px;
        vertical-align: middle;
        width: 24px;
    }

    @media only screen and (max-width: 767px) {
        margin: 16px 0;
    }
}

.form-rows {
    margin: 16px 0;

    .form-row {
        margin: 8px 16px 8px 20px;
    }

    & + .form-submit {
        margin-top: 16px;
    }

    @media only screen and (max-width: 767px) {
        .form-row {
            margin: 8px 0;
        }
    }
}

.form-label { display: block; }

.form-fieldset {
    border: 1px solid rgba(255, 255, 255, 0.16);
    display: block;
    height: 78px;
    margin-bottom: 5px;
    outline: none;
    padding: 10px 16px 10px 20px;

    &--small {
        height: 72px;
    }

    &--dark {
        background-color: rgba(0, 0, 0, 0.08);
    }

    &.checking {
        animation: 1.5s linear 0s infinite alternate checking;
        border: 1px solid rgba(255, 255, 255, 0.16);
        box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.16);
    }

    &.caution {
        border-color: #e6ac00;
        box-shadow: 0 0 2px 0 #e6ac00;
    }

    &.invalid {
        border-color: #eb4361;
        box-shadow: 0 0 2px 0 #eb4361;
    }

    &__header {
        align-items: center;
        color: #ffffff;
        display: flex;
        font-size: 14px;
        justify-content: space-between;
        letter-spacing: 0.75px;
        line-height: 20px;
        margin-bottom: 4px;
        opacity: 0.64;
    }

    &__main {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .frame {
        margin: 4px 0 0 -10px;
        width: calc(100% + 20px);
    }

    @media only screen and (max-width: 767px) {
        padding-left: 10px;
        .frame {
            margin: 4px 0 0;
            width: 100%;
        }
    }
}

.form-input {
    @include input-reset;

    color: #ffffff;
    cursor: text;
    font-size: 24px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &::-webkit-input-placeholder {
        color: #ffffff;
        opacity: 0.32;
    }

    &::-moz-placeholder {
        color: #ffffff;
        opacity: 0.32;
    }

    &:-moz-placeholder {
        color: #ffffff;
        opacity: 0.32;
    }

    &:-ms-input-placeholder {
        color: #ffffff;
        opacity: 0.32;
    }

    &::placeholder {
        color: #ffffff;
        opacity: 0.32;
    }

    &:-webkit-autofill {
        color: #ffffff !important;
        -webkit-text-fill-color: #ffffff !important;
    }
}

.form-select {
    &.btn {
        @include btn-reset;

        align-items: center;
        background-color: rgba(197, 228, 243, 0.08);
        color: #c5e4f3;
        display: flex;
        justify-content: center;
        margin-right: -10px;
        padding: 4px 6px 4px 14px;
    }

    &:hover {
        background-color: rgba(197, 228, 243, 1);
        color: #000000;

        .form-select__arrow {
            svg { fill: #000000; }
        }
    }

    &--lg {
        justify-content: space-between;
        padding: 15px 10px 15px 20px;
        width: 100%;
    }

    &--light {
        background-color: #c5e4f3;
        color: #293166;

        &:hover {
            background-color: darken(#c5e4f3, 10%);
            color: #293166;
        }
    }

    &__txt {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.25px;
        line-height: 20px;
    }

    &__arrow {
        flex-shrink: 0;
        height: 24px;
        margin-left: 4px;
        width: 24px;

        svg {
            fill: #c5e4f3;
            transition: fill 0.15s ease-in-out;
        }
    }

    &.disabled,
    &:disabled {
        background: none !important;
        cursor: not-allowed !important;
    }

    @media only screen and (max-width: 767px) {
        &--lg {
            padding: 15px 10px;
        }
    }
}

a.form-submit,
button.form-submit {
    line-height: 64px;
    margin-top: 32px;
    padding-bottom: 0;
    padding-top: 0;

    > * {
        margin: 0;
    }

    @media only screen and (max-width: 767px) {
        margin-top: 16px;
    }
}

.form-drop {
    &.btn {
        @include btn-reset;

        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 4px 0;
    }

    &--s {
        .form-drop__name {
            font-size: 14px;
            letter-spacing: 0.75px;
            line-height: 20px;
            text-align: right;
        }

        .form-drop__arrow {
            height: 20px;
            margin: 0 0 0 4px;
            width: 20px;
        }
    }

    &__logo {
        display: block;
        flex-shrink: 0;
        height: 24px;
        margin-right: 8px;
        width: 24px;

        img {
            width: 100%;
        }
    }

    &__name {
        color: #ffffff;
        flex-grow: 1;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.5px;
        line-height: 24px;
        max-width: 100px;
        overflow: hidden;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__arrow {
        flex-shrink: 0;
        height: 24px;
        margin-right: -4px;
        width: 24px;

        svg { fill: #ffffff; }
    }

    &.disabled,
    &:disabled {
        background: none !important;
        cursor: not-allowed !important;
    }
}
