@import '_mix';

.form-row {
    margin: 16px 16px 16px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .75px;
    color: rgba(255, 255, 255, 0.64);

    & + .form-submit {
        margin-top: 16px;
    }

    &__btn {
        @include btn-reset;
        width: 24px;
        height: 24px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        top: -1px;
        margin-left: 8px;
    }

    @media only screen and (max-width: 767px) {
        margin: 16px 0;
    }
}

.form-rows {
    margin: 16px 0;

    .form-row {
        margin: 8px 16px 8px 20px;
    }

    & + .form-submit {
        margin-top: 16px;
    }

    @media only screen and (max-width: 767px) {
        .form-row {
            margin: 8px 0;
        }
    }
}

.form-fieldset {
    display: block;
    padding: 10px 16px 10px 20px;
    margin-bottom: 5px;
    border: 1px solid rgba(255, 255, 255, 0.16);
    outline: none;
    height: 78px;

    &.alert {
        border-color: #EB4361;
    }

    &.checking {
        border: 1px solid rgba(255, 255, 255, 0.16);
        animation: 1.5s linear 0s infinite alternate checking;
    }

    &.caution {
        border-color: #e6ac00;
        box-shadow: 0 0 2px 0 #e6ac00;
    }

    &__header {
        margin-bottom: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: .75px;
        color: #fff;
        opacity: .64;
    }

    &__main {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .frame {
        width: calc(100% + 20px);
        margin: 4px 0 0 -10px;
    }

    @media only screen and (max-width: 767px) {
        padding-left: 10px;
        .frame {
            width: 100%;
            margin: 4px 0 0;
        }
    }
}

.form-input {
    @include input-reset;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    cursor: text;

    &::-webkit-input-placeholder {
        opacity: .32;
        color: #fff;
    }

    &::-moz-placeholder {
        opacity: .32;
        color: #fff;
    }

    &:-moz-placeholder {
        opacity: .32;
        color: #fff;
    }

    &:-ms-input-placeholder {
        opacity: .32;
        color: #fff;
    }

    &::placeholder {
        opacity: .32;
        color: #fff;
    }

    &:-webkit-autofill {
        -webkit-text-fill-color: #fff !important;
        color: #fff !important;
    }
}

.form-select {
    &.btn {
        @include btn-reset;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px 6px 4px 14px;
        background-color: rgba(197, 228, 243, .08);
        color: #C5E4F3;
        margin-right: -10px;
    }

    &:hover {
        background-color: rgba(197, 228, 243, 1);
        color: #000;

        .form-select__arrow {
            svg { fill: #000; }
        }
    }

    &--lg {
        justify-content: space-between;
        width: 100%;
        padding: 15px 10px 15px 20px;
    }

    &--light {
        background-color: #C5E4F3;
        color: #293166;

        &:hover {
            background-color: darken(#C5E4F3, 10%);
            color: #293166;
        }
    }

    &__txt {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: .25px;
        font-weight: 500;
    }

    &__arrow {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        margin-left: 4px;

        svg {
            fill: #C5E4F3;
            transition: fill .15s ease-in-out;
        }
    }

    &.disabled,
    &:disabled {
        cursor: not-allowed !important;
    }

    @media only screen and (max-width: 767px) {
        &--lg {
            padding: 15px 10px;
        }
    }
}

a.form-submit,
button.form-submit {
    margin-top: 32px;
    line-height: 64px;
    padding-bottom: 0;
    padding-top: 0;

    > * {
        display: inline-block;
        margin: 0;
    }

    @media only screen and (max-width: 767px) {
        margin-top: 16px;
    }
}

.form-drop {
    &.btn {
        @include btn-reset;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4px 0;
    }

    &--s {
        .form-drop__name {
            font-size: 14px;
            line-height: 20px;
            text-align: right;
            letter-spacing: .75px;
        }

        .form-drop__arrow {
            width: 20px;
            height: 20px;
            margin: 0 0 0 4px;
        }
    }

    &__logo {
        display: block;
        width: 24px;
        height: 24px;
        margin-right: 8px;
        flex-shrink: 0;

        img {
            width: 100%;
        }
    }

    &__name {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: .5px;
        font-weight: 500;
        color: #fff;
        flex-grow: 1;
        text-align: left;
    }

    &__arrow {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        margin-right: -4px;

        svg { fill: #fff; }
    }

    &.disabled,
    &:disabled {
        cursor: not-allowed !important;
    }
}
