@import '_mix';

.form-row {
    align-items: center;
    color: rgb(255 255 255 / 64%);
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    letter-spacing: 0.75px;
    line-height: 20px;
    margin: 16px 16px 16px 20px;

    & + .form-submit {
        margin-top: 16px;
    }

    &__btn {
        @include btn-reset;

        display: inline-block;
        height: 24px;
        margin-left: 8px;
        position: relative;
        top: -1px;
        vertical-align: middle;
        width: 24px;
    }

    @media only screen and (max-width: 767px) {
        margin: 16px 0;
    }
}

.form-rows {
    margin: 16px 0;

    .form-row {
        margin: 8px 16px 8px 20px;
    }

    & + .form-submit {
        margin-top: 16px;
    }

    @media only screen and (max-width: 767px) {
        .form-row {
            margin: 8px 0;
        }
    }
}

.form-label { display: block; }

.form-fieldset {
    border: 1px solid rgb(255 255 255 / 16%);
    display: block;
    height: 78px;
    margin-bottom: 5px;
    outline: none;
    padding: 10px 16px 10px 20px;

    &--small {
        height: 72px;
    }

    &--dark {
        background-color: rgb(0 0 0 / 8%);
    }

    &.checking {
        animation: 1.5s linear 0s infinite alternate checking;
        border: 1px solid rgb(255 255 255 / 16%);
        box-shadow: 0 0 2px 0 rgb(255 255 255 / 16%);
    }

    &.caution {
        border-color: #e6ac00;
        box-shadow: 0 0 2px 0 #e6ac00;
    }

    &.invalid {
        border-color: #eb4361;
        box-shadow: 0 0 2px 0 #eb4361;
    }

    &__header,
    &__footer {
        align-items: center;
        color: #fff;
        display: flex;
        font-size: 14px;
        justify-content: space-between;
        letter-spacing: 0.75px;
        line-height: 20px;
        margin-bottom: 4px;

        &-inner {
            align-items: center;
            display: flex;
            flex-direction: row;
        }
    }

    &__footer-label {
        padding: 0 !important;
    }

    &__footer {
        margin-bottom: 0;
        margin-top: 4px;
    }

    &__main {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .frame {
        margin: 4px 0 0 -10px;
        width: calc(100% + 20px);
    }

    @media only screen and (max-width: 767px) {
        padding-left: 10px;

        .frame {
            margin: 4px 0 0;
            width: 100%;
        }
    }
}

.form-input {
    @include input-reset;

    color: #fff;
    cursor: text;
    font-size: 24px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &::-webkit-input-placeholder {
        color: #fff;
        opacity: 0.32;
    }

    &::-moz-placeholder {
        color: #fff;
        opacity: 0.32;
    }

    &:-moz-placeholder {
        color: #fff;
        opacity: 0.32;
    }

    &:-ms-input-placeholder {
        color: #fff;
        opacity: 0.32;
    }

    &::placeholder {
        color: #fff;
        opacity: 0.32;
    }

    &:-webkit-autofill {
        color: #fff !important;
        -webkit-text-fill-color: #fff !important;
    }
}

.form-select {
    &.btn {
        @include btn-reset;

        align-items: center;
        background-color: rgb(197 228 243 / 8%);
        color: #c5e4f3;
        display: flex;
        justify-content: center;
        margin-right: -10px;
        min-height: 0;
        min-width: fit-content;
        padding: 4px 6px 4px 14px;
    }

    &:hover {
        background-color: rgb(197 228 243 / 100%);
        color: #000;

        .form-select__arrow {
            svg { fill: #000; }
        }
    }

    &--lg {
        justify-content: space-between;
        padding: 15px 10px 15px 20px;
        width: 100%;
    }

    &--light {
        background-color: #c5e4f3;
        color: #293166;

        &:hover {
            background-color: darken(#c5e4f3, 10%);
            color: #293166;
        }
    }

    &__txt {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.25px;
        line-height: 20px;
    }

    &__arrow {
        flex-shrink: 0;
        height: 24px;
        line-height: normal;
        margin-left: 4px;
        width: 24px;

        svg {
            fill: #c5e4f3;
            transition: fill 0.15s ease-in-out;
        }
    }

    &.disabled,
    &:disabled {
        background: none !important;
        cursor: not-allowed !important;
    }

    @media only screen and (max-width: 767px) {
        &--lg {
            padding: 15px 10px;
        }
    }
}

a.form-submit,
button.form-submit {
    line-height: 64px;
    margin-top: 32px;
    padding-bottom: 0;
    padding-top: 0;

    > * {
        margin: 0;
    }

    @media only screen and (max-width: 767px) {
        margin-top: 16px;
    }
}

.form-drop {
    &.btn {
        @include btn-reset;

        align-items: center;
        display: flex;
        justify-content: space-between;
        min-height: 0;
        padding: 4px 0;
    }

    &--s {
        .form-drop__name {
            font-size: 14px;
            letter-spacing: 0.75px;
            line-height: 20px;
            text-align: right;
        }

        .form-drop__arrow {
            height: 20px;
            margin: 0 0 0 4px;
            width: 20px;
        }
    }

    &__logo {
        display: block;
        flex-shrink: 0;
        height: 24px;
        margin-right: 8px;
        min-width: 24px;

        img {
            height: 20px;
            width: 20px;
        }

        @media only screen and (max-width: 767px) {
            height: 20px;
            min-width: 20px;
        }
    }

    &__name {
        color: #fff;
        flex-grow: 1;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.5px;
        line-height: 20px;
        max-width: 100px;
        overflow: hidden;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        @media only screen and (max-width: 767px) {
            font-size: 16px;
        }
    }

    &-extra {
        flex-flow: row nowrap;
        min-width: fit-content;
    }

    &-extra &__name {
        max-width: 150px;
    }

    &__arrow {
        flex-shrink: 0;
        height: 24px;
        line-height: normal;
        margin-right: -4px;
        width: 24px;

        svg { fill: #fff; }
    }

    &.disabled,
    &:disabled {
        background: none !important;
        cursor: not-allowed !important;
    }
}

.btn.form-btn-max {
    font-size: 12px;
    line-height: 18px;
    margin: 0 12px;
    min-height: 20px;
    padding: 0 10px;
}
