.list {
    --list-grid-template: auto;

    display: flex;
    flex-direction: column;
    min-height: 400px;
    overflow-x: auto;
    width: 100%;

    &::-webkit-scrollbar {
        width: 0;
    }

    &__header,
    &__row {
        align-items: center;
        border-bottom: 1px solid rgb(255, 255, 255, 8%);
        column-gap: 10px;
        display: grid;
        grid-template-columns: var(--list-grid-template);
        min-height: 57px;
        padding: 10px 0;
        text-decoration: none !important;
    }

    &__row {
        &--pointer {
            cursor: pointer;
        }
    }

    &__header {
        color: rgba(255, 255, 255, 48%);
        font-size: 14px;
        text-align: center;
    }

    &__cell {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &-inner {
            align-items: center;
            column-gap: 10px;
            display: flex;

            &-leader {
                column-gap: 10px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-top: 8px;

                @media only screen and (min-width: 960px) {
                    padding-top: 0;
                }

                &-term {
                    color: rgba(255, 255, 255, 48%);
                    font-size: 14px;

                    @media only screen and (min-width: 960px) {
                        display: none;
                    }
                }

                &-value { width: 100%; }
            }
        }

        &--left { text-align: left; }
        &--right { text-align: right; }
        &--center { text-align: center; }
    }
}


.list-bill {
    margin: 0 auto;
    max-width: 442px;
    padding: 16px;
    width: 100%;

    &__row {
        align-items: center;
        column-gap: 10px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__info {
        align-items: center;
        color: rgba(255, 255, 266, 0.64);
        display: flex;
        font-size: 14px;
        justify-content: flex-start;
        letter-spacing: 0.75px;
        line-height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        > span {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    &__icn {
        height: 16px;
        margin-left: 6px;
        opacity: 0.5;
        width: 16px;

        &:hover {
            opacity: 1;
        }
    }

    &__val {
        font-size: 14px;
        letter-spacing: 0.75px;
        line-height: 20px;
        text-align: right;
    }
}
