.swap-price {
    align-items: center;
    column-gap: 10px;
    display: flex;
    flex-flow: row nowrap;
    font-size: 12px;
    justify-content: space-between;
    letter-spacing: 0.6px;
    line-height: 16px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    min-height: 28px;

    &-details {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        font-size: 12px;
        justify-content: space-between;
        line-height: 16px;
        text-align: right;

        > span {
            align-items: center;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }
    }

    .btn.swap-price__exchange-mode-btn {
        border-radius: 40px;
        color: #fff;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        min-height: 0;
        padding: 2px 8px;

        &:not(:hover) {
            background: linear-gradient(0deg, rgb(5 11 46 / 12%), rgb(5 11 46 / 12%)), rgb(255 255 255 / 12%);
        }

        &:hover { color: #293166; }
    }

    div.btn.swap-price__exchange-mode-btn {
        background: linear-gradient(0deg, rgb(5 11 46 / 12%), rgb(5 11 46 / 12%)), rgb(255 255 255 / 12%);
        color: #fff !important;
        cursor: default;
    }
}

.btn.swap-price__reverse-btn {
    border: 0 none;
    border-radius: 50%;
    opacity: 0.5;
    padding: 0;
    transition: opacity 0.15s ease-in-out;

    svg { stroke: #fff; }

    &:hover { opacity: 0.7; }
}
