.swap-icon {
    cursor: pointer;
    margin: 8px auto;
    opacity: 0.5;
    width: 36px;
    transition: opacity 0.15s ease-in-out;

    &:hover {
        opacity: 0.8;
    }

    &.disabled {
        cursor: not-allowed;
        opacity: 0.2;
    }

    svg { stroke: #fff; }
}
