@import '~@/styles/_mix';

.swap {
    padding: 72px 16px;

    &__wrap {
        width: 100%;
        max-width: 520px;
        margin: 0 auto;
        padding: 32px 40px;
        background: rgba(255, 255, 255, .08);
        border-radius: 6px;

        &--long {
            max-width: 1160px;
            padding: 32px;
            min-height: 400px;
        }

        &--no-min-height {
            min-height: unset;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 64px 0 32px;

        &:first-child {
            margin-top: 0;
        }

        &--long {
            max-width: 1160px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    @media only screen and (max-width: 767px) {
        padding: 32px 16px;
        &__wrap {
            padding: 16px 16px 24px;

            &--long {
                padding-bottom: 16px;
            }
        }
        &__header {
            margin-top: 48px;
            margin-bottom: 32px;
        }
    }
}

.swap-title {
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: .25px;
    color: #fff;
    margin: 0;

    @media only screen and (max-width: 767px) {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0;
    }
}

.swap-form-change {
    cursor: pointer;
    margin: 8px auto;
    opacity: 0.5;
    width: 36px;
    transition: opacity 0.15s ease;

    &:hover {
        opacity: 0.8;
    }

    &.loading {
        cursor: not-allowed;
        opacity: 0.2;
    }

    svg { stroke: #fff; }
}

a.swap-form-submit,
button.swap-form-submit {
    margin-top: 32px;
    line-height: 64px;
    padding-bottom: 0;
    padding-top: 0;

    > * {
        display: inline-block;
        margin: 0;
    }

    @media only screen and (max-width: 767px) {
        margin-top: 16px;
    }
}

.swap-form-row {
    margin: 16px 16px 16px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .75px;
    color: rgba(255, 255, 255, .64);

    & + .swap-form-submit {
        margin-top: 16px;
    }

    &__btn {
        @include btn-reset;
        width: 24px;
        height: 24px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        top: -1px;
        margin-left: 8px;
    }

    @media only screen and (max-width: 767px) {
        margin: 16px 0;
    }
}

.swap-form-rows {
    margin: 16px 0;

    .swap-form-row {
        margin: 8px 16px 8px 20px;
    }

    & + .swap-form-submit {
        margin-top: 16px;
    }

    @media only screen and (max-width: 767px) {
        .swap-form-row {
            margin: 8px 0;
        }
    }
}

.swap-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 900;

    &__wrap {
        width: 100%;
        max-width: 360px;
        position: absolute;
        z-index: 2;
        left: 50%;
        top: 128px;
        transform: translateX(-50%);
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 8px 16px rgba(43, 51, 56, 0.08);
        backdrop-filter: blur(80px);
        padding: 20px 20px 28px;

        &--list {
            top: 80px;
            display: flex;
            align-items: stretch;
            justify-content: flex-start;
            flex-direction: column;
            max-height: calc(100vh - 160px);
            padding-bottom: 0;

            .swap-popup-title {
                margin-bottom: 0;
            }
        }
    }

    .swap-amount {
        margin: 20px 0;
    }

    @media only screen and (max-width: 500px) {
        &__wrap {
            max-width: 100%;
            left: 0;
            top: auto;
            bottom: 0;
            transform: none;

            &--list {
                top: 80px;
                max-height: calc(100% - 80px);
            }
        }
    }
}

.swap-popup-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

button.swap-popup-close {
    @include btn-reset;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    z-index: 2;
    opacity: .5;

    svg {
        stroke: #fff;
    }

    &:hover {
        opacity: 1;
    }
}

.swap-popup-title {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;

    &.center {
        text-align: center;
    }
}

.swap-popup-main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
    border: 1px solid rgba(255, 255, 255, .1);

    &__ava {
        overflow: hidden;
        flex-shrink: 0;
        border-radius: 50%;
        margin-right: 16px;
        background-color: rgba(255, 255, 255, .5);
        width: 32px;
        height: 32px;
    }

    &__name {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: .5px;
        font-weight: 500;
    }

    &__loader {
        width: 32px;
        height: 32px;
        margin-right: 16px;

        svg {
            animation: rotate 1s linear infinite;
            fill: #fff;
        }
    }
}

.swap-popup-txt {
    margin: 20px 0;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .4px;
    color: rgba(255, 255, 255, .8);

    &.lg {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: .75px;
        color: #fff;
    }

    &.center {
        text-align: center;
    }

    p {
        margin: .8em 0;

        &:last-child {
            margin-bottom: 0;
        }
    }

    a {
        color: rgba(255, 255, 255, .8);
        text-decoration: underline;

        &:hover {
            color: #C5E4F3;
        }
    }

    strong {
        display: block;
        font-weight: 500;
        color: #fff;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: .25px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.spin {
    animation: rotate 1s linear infinite;
}
