@import '~@/styles/_mix';

.service-alert-wrapper {
    margin: 0 16px;
}

.service-alert {
    position: relative;
    background: #E6AC00;
    display: flex;
    color: #000000;
    column-gap: 24px;
    row-gap: 24px;
    padding: 24px;
    margin-top: 42px;

    @media only screen and (max-width: 1023px) {
        flex-direction: column;
    }

    &__side {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 16px;
    }

    &__close {
        @include btn-reset;
        position: absolute;
        top: 0;
        right: 0;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__title {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.6px;
        font-weight: 700;
        margin: 0 0 4px;
    }

    &__text {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.5px;
        font-weight: 400;

        a {
            color: #000;
            text-decoration: underline;
            font-weight: 600;

            &:hover {
                color: #000;
            }
        }
    }

    &__btn {
        flex-grow: 1;
    }
}
