.ordering-switcher {
    position: relative;

    &.btn {
        background: none;
        border: 0;
        color: inherit;
        font: inherit;
        margin: 0;
        padding: 0;

        &:hover,
        &focus {
            background: none;
            border: 0;
            color: inherit;
        }
    }

    &-desc,
    &-asc {
        color: #ffffff !important;
        padding-right: 24px !important;

        &::before {
            border: 5px solid transparent;
            content: '';
            display: block;
            position: absolute;
            right: 5px;
        }
    }
    &-asc {
        &::before {
            border-bottom-color: #ffffff;
            top: 2px;
        }
    }
    &-desc {
        &::before {
            border-top-color: #ffffff;
            top: 7.5px;
        }
    }
}
