@import '~@/styles/_mix';

.token-selector {
    @include btn-reset;

    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 13px;
    padding: 0 12px;
    border: 1px solid rgba(255, 255, 255, 0.16);
    cursor: pointer;
    color: rgba(255, 255, 255, 0.56);

    svg {
        fill: #fff;
    }

    &_size {
        &_small {
            height: 36px;
            font-size: 14px;
        }

        &_medium {
            height: 44px;
            font-size: 16px;
        }
    }

    &_dirty {
        border-color: rgba(255, 255, 255, 0.24);
        color: #fff;
    }

    &__value {
        display: flex;
        align-items: center;
        gap: 8px;
        overflow: hidden;
    }

    &__symbol {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
