@import '~@/styles/_mix';

.token-selector {
    @include btn-reset;

    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.16);
    color: rgba(255, 255, 255, 0.56);
    column-gap: 13px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 0 12px;

    svg {
        fill: #ffffff;
    }

    &_size {
        &_small {
            font-size: 14px;
            height: 36px;
        }

        &_medium {
            font-size: 16px;
            height: 44px;
        }
    }

    &_dirty {
        border-color: rgba(255, 255, 255, 0.24);
        color: #ffffff;
    }

    &__value {
        align-items: center;
        display: flex;
        gap: 8px;
        overflow: hidden;
    }

    &__symbol {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
