@import '~@/styles/_mix';

.token-selector {
    @include btn-reset;

    align-items: center;
    border: 1px solid rgb(255 255 255 / 16%);
    column-gap: 13px;
    cursor: pointer;
    display: flex;
    font-weight: 400;
    justify-content: space-between;
    padding: 0 12px;

    &.btn {
        color: rgb(255 255 255 / 56%);
    }

    &:hover,
    &:focus {
        color: #fff;
    }

    svg { fill: #fff; }

    &_size {
        &_small {
            font-size: 14px;
            height: 36px;
        }

        &_medium {
            font-size: 16px;
            height: 44px;
        }
    }

    &_dirty {
        border-color: rgb(255 255 255 / 24%);
        color: #fff;
    }

    &__value {
        align-items: center;
        display: flex;
        gap: 8px;
        overflow: hidden;
    }

    &__symbol {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
