.header {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding: 18px 16px;

    @media only screen and (max-width: 767px) {
        justify-content: space-between;
    }
}
