.amount-input {
    position: relative;

    &_with-btn {
        .text-input {
            padding-right: 65px;
        }
    }

    &_size {
        &_small {
            .btn {
                right: 4px;
                top: 4px;
            }
        }

        &_medium {
            .btn {
                right: 4px;
                top: 4px;
            }
        }
    }

    .btn {
        position: absolute;
    }
}
