.farming-table {
    &.list {
        --list-grid-template: minmax(240px, 40%) minmax(60px, 60px) minmax(100px, 110px) minmax(80px, 80px) minmax(60px, 60px) minmax(80px, 80px) minmax(100px, 100px) minmax(130px, 150px) minmax(130px, 145px);
        min-height: auto;
    }

    .changes-direction:not(.changes-direction-up),
    .changes-direction:not(.changes-direction-down) {
        opacity: 1;
    }

    &__message {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 57px;
        padding: 32px 0 0;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.5px;
        color: #FFF;
    }
}
