.farming-table {
    &.list {
        --list-grid-template: minmax(220px, 25%) minmax(70px, 70px) minmax(145px, 145px) minmax(145px, 145px) minmax(125px, 125px) minmax(150px, 150px) minmax(150px, 150px);

        min-height: auto;
    }

    .rate-change:not(.rate-change-up),
    .rate-change:not(.rate-change-down) {
        opacity: 1;
    }

    &__message {
        align-items: center;
        color: #fff;
        display: flex;
        font-size: 14px;
        justify-content: center;
        letter-spacing: 0.5px;
        line-height: 20px;
        min-height: 57px;
        padding: 32px 0 0;
    }

    &__loading {
        opacity: 0.24;
    }

    &__rate-change {
        margin-top: 4px;
    }
}
