@import '~@/styles/index.scss';

.wrapper {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.main {
    display: flex;
    flex-grow: 1;
}
