@import '~@/styles/index.scss';

.wrapper {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding: 72px 16px;
    width: 100%;

    @media only screen and (max-width: 767px) {
        padding: 32px 16px;
    }
}
