.farming-admin-deposit-balance {
    display: flex;
    align-items: center;
    column-gap: 6px;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 8px;

    b {
        font-weight: normal;
        color: #EB4361;
    }
}
