.pools {
    &-sub-header {
        display: flex;
        flex-flow: column wrap;
        gap: 10px;
        justify-content: flex-start;
        margin: 40px 0 16px;

        @media only screen and (min-width: 640px) {
            align-items: flex-end;
            flex-flow: row nowrap;
            justify-content: space-between;
            margin: 64px 0 32px;
        }
    }

    &-toolbar {
        display: flex;
        justify-content: space-between;
        @media only screen and (max-width: 959px) {
            flex-direction: column;
        }
    }

    &-pair-buttons {
        align-items: center;
        display: flex;
        gap: 10px;
        @media only screen and (max-width: 959px) {
            align-items: flex-start;
            flex-direction: column;
        }
    }

    &-balances {
        display: flex;
        gap: 16px;
        @media only screen and (max-width: 959px) {
            flex-direction: column;
        }
    }

    &-pair-title {
        column-gap: 12px;
        display: flex;
        margin: 0 0 16px;
    }
}
