.remove-liquidity-success {
    &.popup__wrap {
        padding: 50px 20px 20px;
        max-width: 360px;
    }

    &__head {
        text-align: center;
        margin: 0 0 32px;
    }

    &__title {
        margin: 34px 0 0;
        font-size: 24px;
        font-weight: bold;
        line-height: 32px;
    }

    &__label {
        margin: 0 0 2px;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.6px;
        color: rgba(255, 255, 255, 0.56);
    }

    &__value {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.3px;
        margin: 0 0 10px;
    }

    &__action {
        margin: 20px 0 0;
    }
}
