.farming-pair {
    align-items: center;
    column-gap: 8px;
    display: flex;

    &__status {
        align-items: center;
        display: flex;
        height: 16px;
        justify-content: center;
        width: 16px;

        &::after {
            border-radius: 8px;
            content: '';
            display: block;
            height: 8px;
            width: 8px;
        }

        &_active::after {
            background: #4ab44a;
        }

        &_waiting::after {
            background: #e6ac00;
        }

        &_ended::after {
            background: rgba(255, 255, 255, 0.56);;
        }
    }

    &__user {
        color: #4ab44a;

        &_private {
            color: #eb4361;
        }
    }

    .icon {
        vertical-align: top;
    }
}
