.farming-pool-details {
    background-color: #303552;
    margin: -1px 0 10px;
    padding: 10px;

    &-title {
        color: #ffffff;
        font-size: 14px;
        font-weight: bold;
        line-height: 20px;
        margin-bottom: 4px;
    }

    &-subtitle {
        color: rgba(255, 255, 255, 0.64);
        font-size: 12px;
        margin: 16px 0 4px;
    }

    &-table {
        display: flex;
        flex-direction: column;
        margin: 0 0 16px;
        max-width: 500px;

        &__row {
            color: rgba(255, 255, 255, 0.64);
            display: flex;
            flex-direction: row;
            font-size: 12px;
            justify-content: space-between;
            padding: 4px 0;
        }
    }
}
