@import '~@/styles/_mix';

.text-input {
    @include input-reset;

    border: 1px solid rgb(255 255 255 / 16%);
    color: #fff;
    cursor: text;
    font-size: 14px;
    height: 36px;
    padding: 0 12px;

    &::placeholder {
        color: rgb(255 255 255 / 56%);
    }

    &:disabled {
        color: rgb(255 255 255 / 72%);
    }

    &_dirty {
        border-color: rgb(255 255 255 / 24%);
    }

    &_invalid {
        border-color: #eb4361;
    }

    &_size {
        &_small {
            height: 36px;
        }

        &_medium {
            height: 44px;
        }
    }
}
