.footer {
    background-color: rgba(0, 0, 0, 0.16);
    padding-top: 64px;
    &__wrapper {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        gap: 64px;
        margin: 0 0 64px;
    }
    &__left {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    &__right {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    &__bottom {
        align-items: center;
        border-top: 1px solid rgba(255, 255, 255, 0.16);
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 20px 0;
    }
    &__sub {
        align-items: center;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
    }
    &__row {
        align-items: stretch;
        display: flex;
        justify-content: space-between;
    }
    &__colbar {
        width: 184px;
        .btn {
            margin-bottom: 12px;
            width: 100%;
        }
    }
    @media only screen and (max-width: 959px) {
        padding-top: 40px;
        &__wrapper {
            gap: 32px;
            margin: 0 0 40px;
        }
        &__bottom { display: block; }
        &__sub { display: block; }
        &__row {
            flex-wrap: wrap;
            .footer-nav--3-columns {
                margin-top: 46px;
                order: 3;
            }
        }
        &__colbar {
            align-items: center;
            display: flex;
            justify-content: flex-end;
            .btn {
                margin: 0 0 0 12px;
                width: auto;
            }
        }
    }
    @media only screen and (max-width: 767px) {
        &__wrapper {
            flex-direction: column;
            flex-wrap: wrap;
            margin: 0 0 40px;
        }
        &__top { display: block; }
        &__colbar {
            display: block;
            width: 100%;
            .btn {
                margin: 0 0 12px 0;
                width: 100%;
                &:last-child { margin-bottom: 0; }
            }
        }
    }
}
.footer-tool {
    @media only screen and (max-width: 639px) {
        margin: 0 0 16px;
        width: 100%;
        &:last-child { margin-bottom: 0; }
    }
}
.footer-logo {
    display: block;
    width: 142px;
    @media only screen and (max-width: 639px) {
        margin-bottom: 40px;
    }
}
.footer-nav {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    &__col {
        width: 20%;
        &-title {
            display: inline-block;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.75px;
            line-height: 20px;
            margin-bottom: 16px;
            text-decoration: none;
        }
    }
    &__list {
        li {
            margin-bottom: 16px;
            &:last-child { margin-bottom: 0; }
            a {
                color: rgba(255, 255, 255, 0.56);
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0.5px;
                line-height: 20px;
                text-decoration: none;
                transition-property: color;
                &:not([href]) {
                    color: rgba(255, 255, 255, 0.56);
                }
                &[href] {
                    &.active,
                    &:hover {
                        color: #ffffff;
                    }
                }
            }
        }
    }
    &--3-columns {
        margin-top: 0;
        max-width: 560px;
        .footer-nav__col {
            margin-right: 40px;
            width: 160px;
            &:last-child { margin-right: 0; }
        }
    }
    @media only screen and (max-width: 959px) {
        display: grid;
        grid-row-gap: 4px;
        grid-template-columns: repeat(2, 160px);
        &__col { width: unset; }
        &--3-columns {
            grid-column-gap: 40px;
            justify-content: flex-start;
            width: 100%;
            &:last-child {
                .footer-nav__col { margin: 0; }
            }
        }
    }
    @media only screen and (max-width: 639px) {
        display: grid;
        grid-column-gap: 20px;
        grid-row-gap: 40px;
        grid-template-columns: repeat(2, 1fr);
        &__col {
            &:last-child {
                grid-column-start: auto;
                grid-row-start: auto;
            }
        }
        &--3-columns {
            grid-column-gap: 0;
            justify-content: space-between;
            width: 100%;
        }
    }
}
.footer-copyright {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 20px;
    margin-right: 32px;
}
.footer-subnav {
    ul {
        align-items: center;
        display: flex;
        justify-content: flex-start;
        li {
            margin-right: 32px;
            &:last-child { margin-right: 0; }
            a {
                color: rgba(255, 255, 255, 0.56);
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0.5px;
                line-height: 20px;
                text-decoration: none;
                transition-property: color;
                &.active,
                &:hover { color: #ffffff; }
            }
        }
    }

    @media only screen and (max-width: 959px) {
        margin: 20px 0;
    }
}
.footer-soc {
    align-items: center;
    display: flex;
    justify-content: center;
    li {
        margin-right: 10px;
        &:last-child { margin-right: 0; }
        a {
            align-items: center;
            display: flex;
            height: 40px;
            justify-content: center;
            width: 40px;
        }
    }

    @media only screen and (max-width: 959px) {
        justify-content: flex-start;
    }
}

.toolbar {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    @media only screen and (max-width: 639px) {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    @media only screen and (max-width: 400px) {
        gap: 8px;
    }
}
