.pool-linkage {
    margin: 8px auto;
    opacity: 0.5;
    transition: opacity 0.15s ease-in-out;
    width: 36px;

    svg { stroke: #ffffff; }
}

.list-bill--pool {
    .btn-icon {
        margin-left: 10px;
    }
}
