@import '~@/styles/_mix';

.swap-settings {
    position: relative;
    z-index: 2;

    button.swap-settings__btn {
        @include btn-reset;

        align-items: center;
        border-radius: 50%;
        display: flex;
        height: 36px;
        justify-content: center;
        opacity: 0.5;
        width: 36px;

        svg { fill: #fff; }

        &:hover,
        &.active {
            background: rgb(255 255 255 / 16%);
            opacity: 1;
        }
    }

    &__drop {
        background-color: #2d324d;
        box-shadow: 0 8px 16px rgb(43 51 56 / 8%);
        padding: 20px;
        position: absolute;
        right: 0;
        top: 43px;
        width: 240px;
    }

    &__title {
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.25px;
        line-height: 20px;
        margin-bottom: 12px;
    }

    &__info {
        font-size: 0;
        margin-bottom: 8px;

        &-txt {
            display: inline-block;
            font-size: 14px;
            letter-spacing: 0.75px;
            line-height: 20px;
            margin-right: 8px;
            vertical-align: middle;
        }

        &-icn {
            display: inline-block;
            opacity: 0.5;
            vertical-align: middle;
            width: 20px;

            &:hover {
                opacity: 1;
            }
        }
    }

    &__label {
        position: relative;

        &-txt {
            font-size: 14px;
            left: 12px;
            letter-spacing: 0.75px;
            line-height: 20px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
        }
    }

    &__input {
        @include input-reset;

        border: 1px solid rgb(255 255 255 / 16%);
        color: #fff;
        font-size: 14px;
        height: 36px;
        letter-spacing: 0.75px;
        line-height: 20px;
        padding: 0 12px 0 33px;
    }

    &__bar {
        align-items: stretch;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: calc(100% + 8px);
    }

    &__radio {
        display: inline-block;
        font-size: 0;
        margin: 8px 8px 0 0;

        &-txt {
            background-color: rgb(255 255 255 / 8%);
            border-radius: 2px;
            color: rgb(255 255 255 / 50%);
            cursor: pointer;
            display: block;
            font-size: 12px;
            letter-spacing: 0.4px;
            line-height: 16px;
            padding: 4px 8px;
            transition: color 0.25s, background-color 0.25s;

            &:hover {
                background-color: #fff;
                color: #293166;
            }
        }

        input {
            display: none;

            &:checked + .swap-settings__radio-txt {
                background-color: #fff;
                color: #293166;
            }
        }
    }

    @media only screen and (max-width: 767px) {
        &__btn {
            height: 32px;
            width: 32px;
        }

        &__drop {
            top: 40px;
        }
    }
}
