.form-create-farm-pool {
    .form-fieldset { height: 65px; }

    .form-input {
        font-size: 16px;
        font-weight: normal;
    }

    &__actions {
        display: flex;
        justify-content: flex-end;
        margin-right: 16px;
        margin-top: 10px;

        @media only screen and (max-width: 767px) {
            margin-right: 0;
        }

        > a {
            color: #fff !important;
            cursor: pointer;
        }
    }

    &__notes {
        color: rgb(255 255 255 / 80%);
        font-size: 12px;
        letter-spacing: 0.4px;
        line-height: 16px;
        margin: 20px 0;

        p { margin: 12px 0 }
    }
}

.farming-title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 40px 0 16px;

    .icon {
        svg {
            fill: #fff;
        }
    }
}

.farming-list-header {
    align-items: flex-start;
    display: flex;
    flex-flow: column wrap;
    gap: 16px;
    margin: 36px 0 16px;

    @media only screen and (min-width: 640px) {
        flex-flow: row nowrap;
        justify-content: space-between;

    }
}

.farming-management,
.farming-details,
.farming-balance {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr;

    @media only screen and (max-width: 1023px) {
        grid-template-columns: 1fr;
    }
}

.farming-balance-panel {
    flex-grow: 1;
    font-size: 14px;
    height: 100%;
    line-height: 20px;
    padding: 24px;

    &_deposit {
        background: radial-gradient(100% 100% at 100% 0%, rgb(74 180 74 / 32%) 0%, rgb(255 255 255 / 8%) 100%);
    }

    &_withdraw {
        background: radial-gradient(100% 100% at 100% 0%, rgb(237 28 120 / 32%) 0%, rgb(255 255 255 / 8%) 100%);
    }

    &__title {
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        margin: 0 0 16px;
    }

    &__text {
        margin: 0 0 25px;
    }

    &__tabs {
        display: flex;
        gap: 12px;
        margin: 0 0 17px;

        li {
            border-bottom: 1px solid transparent;
            cursor: pointer;
            opacity: 0.57;
            padding: 0 0 7px;

            &.active {
                border-block-color: #fff;
                opacity: 1;
            }
        }
    }
}

.farming-panel {
    background: rgb(255 255 255 / 8%);
    padding: 24px;

    &:last-child {
        flex-grow: 1;
    }

    &_compact {
        padding: 16px 24px;
    }

    &__title {
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        margin: 0 0 4px;

        &_small {
            font-size: 14px;
            font-weight: normal;
            margin: 0 0 8px;
        }
    }

    &__text {
        color: rgb(255 255 255 / 56%);
        font-size: 14px;
        line-height: 20px;
    }

    &__label {
        color: rgb(255 255 255 / 48%);
        font-size: 12px;
        letter-spacing: 0.6px;
        line-height: 16px;
        margin: 0 0 4px;
    }

    &__value {
        font-size: 20px;
        letter-spacing: 0.15px;
        line-height: 24px;
    }

    &__token {
        align-items: center;
        display: flex;
        gap: 6px;
        margin: 0 0 8px;
        word-break: break-word;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__rows {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}

.farming-map {
    font-size: 14px;
    line-height: 20px;
    margin: 16px 0 0;

    &__item {
        align-items: baseline;
        column-gap: 12px;
        display: flex;
        justify-content: space-between;
        margin: 0 0 12px;

        &:last-child {
            margin-bottom: 0;
        }

        @media only screen and (max-width: 767px) {
            flex-direction: column;
        }
    }

    &__label {
        color: rgb(255 255 255 / 56%);

        @media only screen and (max-width: 767px) {
            margin: 0 0 5px;
        }
    }

    &__value {
        align-items: center;
        display: flex;
        gap: 8px;
        justify-self: flex-end;
        text-align: right;

        @media only screen and (max-width: 767px) {
            justify-self: flex-start;
            text-align: left;
        }
    }

    &__info {
        display: inline;
        margin: 0 0 0 5px;

        .icon {
            cursor: pointer;
            vertical-align: text-bottom;
        }
    }
}

.farming-stats {
    display: grid;
    gap: 16px;
    grid-template-columns: 284px 1fr;

    @media only screen and (max-width: 767px) {
        display: flex;
        flex-direction: column-reverse;
    }
}
