.form-create-farm-pool {
    .form-fieldset { height: 65px; }

    .form-input {
        font-size: 16px;
        font-weight: normal;
    }

    &__actions {
        display: flex;
        justify-content: flex-end;
        margin-right: 16px;
        margin-top: 10px;

        @media only screen and (max-width: 767px) {
            margin-right: 0;
        }

        > a {
            color: #ffffff !important;
            cursor: pointer;
        }
    }

    &__notes {
        color: rgba(255, 255, 255, 0.8);
        font-size: 12px;
        letter-spacing: 0.4px;
        line-height: 16px;
        margin: 20px 0;

        p { margin: 12px 0 }
    }
}
