.tooltip {
    position: fixed;
    z-index: 100;
    padding: 12px;
    margin-top: 8px;
    border-radius: 2px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.6px;
    background: #313551;

    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        background: linear-gradient(0deg, rgba(5, 11, 46, 0.12), rgba(5, 11, 46, 0.12)), rgba(255, 255, 255, 0.12);
        -webkit-backdrop-filter: blur(64px);
        backdrop-filter: blur(64px);
    }

    &_align_top-left {
        margin-top: -8px;
        transform: translateY(-100%);
    }

    &_align_top-right {
        margin-top: -8px;
        transform: translate(-100%, -100%);
    }

    &_align_bottom-right {
        transform: translateX(-100%);
    }

    &_align_top-center {
        margin-top: -8px;
        transform: translate(-50%, -100%);
    }

    &_align_bottom-center {
        transform: translateX(-50%);
    }

    &_size_small {
        padding: 3px 6px;
    }

    h4 {
        margin-bottom: 4px;
        line-height: 16px;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.75px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    p {
        margin: 0 0 0.5em;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
